<div class="row p-2">
  <div class="col">
    <div class="card bg-body-tertiary border-0">
      <div class="card-title text-center fs-4">Members</div>
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="User email to find..." aria-describedby="button-addon2">
              <button class="btn btn-outline-primary" type="button" id="button-addon2">Find</button>
            </div>
          </div>
          <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-primary w-100 mt-2">Add new user</button>
          </div>
        </div>
        <hr>
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faUser"></fa-icon> </div>
          <div class="col-7 text-center">User@Email.com</div>
          <div class="col-4 d-flex justify-content-center">
            <button class="btn btn-warning me-1" (click)="redirectToManage(0,0)">Manage access</button>
            <button class="btn btn-danger ms-1">Remove access</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
