<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card bg-body-tertiary border-0 mt-2">
      <div class="card-title fs-5 text-center pt-2"><strong>User@email.com</strong> Access management</div>
      <div class="card-body">
        <form class="form-group">
          <div>
            <input class="form-check-input" type="checkbox" id="IsDocumentEditor" />
            <label class="form-check-label ps-2" for="IsDocumentEditor">Can edit documents</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="IsDocumentReader" />
            <label class="form-check-label ps-2" for="IsDocumentReader">Can read/download documents</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="IsDocumentDeleter" />
            <label class="form-check-label ps-2" for="IsDocumentDeleter">Can delete/remove documents from project</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" id="IsDocumentAccessManager" />
            <label class="form-check-label ps-2" for="IsDocumentAccessManager">Can edit other users access to files</label>
          </div>
          <input class="form-control mt-3" type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
