<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card bg-body-tertiary border-0 mt-2">
      <div class="card-title">
        <div class="fs-4 text-center">
          Create New Project
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form class="form-group">
              <label class="form-label">Write name of project</label>
              <input type="text" class="form-control border-0" />
            </form>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4"></div>
          <div class="col-4">
            <button class="btn btn-primary w-100">Create</button>
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
