<div class="row p-3 pb-0">
  <div class="col-9">
    <div class="card bg-body-tertiary p-3 border-0 h-100">
      <div class="card-title text-center m-0">
        <h2 class="m-0">Activity Logs</h2>
      </div>
      <div class="card-body pt-0">
        <hr />
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-success text-body-emphasis">Upload</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-warning text-body-emphasis">Edit</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-danger text-body-emphasis">Deleted</strong> on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-success text-body-emphasis">Upload</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-warning text-body-emphasis">Edit</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-danger text-body-emphasis">Deleted</strong> on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card bg-body-tertiary border-0 h-100">
      <div class="card-body">
        <canvas id="StatisticPie" #StatisticPie>
        </canvas>
      </div>
    </div>
  </div>
</div>
<div class="row p-3">
  <div class="col-12">
    <div class="card bg-body-tertiary mt-2 pt-2 border-0 h-100">
      <div class="card-body">
        <canvas id="StatisticData" #StatisticData>
        </canvas>
      </div>
    </div>
  </div>
    
</div>
<div class="row p-3">
  <div class="col-12">
    <div class="card bg-body-tertiary pt-2 border-0">
      <div class="card-title text-center">
        <h2>Last News</h2>
      </div>
      <div class="card-body">
        <div class="row pt-1 pb-1" *ngFor="let annoucement of this.news">
          <div class="col">
            <div class="row">
              <div class="col">
                <h5>{{annoucement.header}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{annoucement.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
