<div class="row">
  <div class="col-7">
    <div class="card bg-body-tertiary pt-2 border-0">
      <div class="card-title text-center">
        <h2>Activity Logs</h2>
      </div>
      <div class="card-body">
        <hr />
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-success text-body-emphasis">Upload</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-warning text-body-emphasis">Edit</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-danger text-body-emphasis">Deleted</strong> on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-success text-body-emphasis">Upload</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-warning text-body-emphasis">Edit</strong>  on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
        <div class="row">
          <div class="col-3  text-center">
            <strong>
              UserNameOrId
            </strong>
          </div>
          <div class="col-6">
            did action <strong class="ps-2 rounded-pill pe-2 bg-danger text-body-emphasis">Deleted</strong> on file <strong>fileLinkOrName</strong>
          </div>
          <div class="col-3 text-center">
            01.01.1900
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card bg-body-tertiary pt-2 border-0">
      <div class="card-title text-center">
        <h2>Last News</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col text-center">
                <h5>News 1</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper ultrices mattis. Proin metus lacus, rutrum quis rhoncus id, suscipit eu eros. Nullam auctor at eros sed pellentesque. Praesent ac commodo leo, et viverra neque. Etiam eros lectus, scelerisque in pharetra quis, ultrices eu dui.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col text-center">
                <h5>News 2</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper ultrices mattis. Proin metus lacus, rutrum quis rhoncus id, suscipit eu eros. Nullam auctor at eros sed pellentesque. Praesent ac commodo leo, et viverra neque. Etiam eros lectus, scelerisque in pharetra quis, ultrices eu dui.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col text-center">
                <h5>News 3</h5>
              </div>
            </div>
            <div class="row">
              <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper ultrices mattis. Proin metus lacus, rutrum quis rhoncus id, suscipit eu eros. Nullam auctor at eros sed pellentesque. Praesent ac commodo leo, et viverra neque. Etiam eros lectus, scelerisque in pharetra quis, ultrices eu dui.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <div class="card bg-body-tertiary mt-2 pt-2 border-0">
      <div class="card-body">
        <canvas id="StatisticData" #StatisticData>
        </canvas>
      </div>
    </div>
  </div>
    <div class="col-3">
    <div class="card bg-body-tertiary mt-2 pt-2 border-0">
      <div class="card-body">
        <canvas id="StatisticPie" #StatisticPie>
        </canvas>
      </div>
    </div>
  </div>
</div>
