<div class="row p-2">
  <div class="col-8">
    <div class="card bg-body-tertiary border-0 ">
      <div class="card-title text-center fs-4">
        <div class="row">
          <div class="col-12 p-1">Last Messages</div>
        </div>
        <hr class="ms-2 me-2">
        <div class="card-body">
          <div class="d-flex flex-column">
            <div class="card mt-2 mb-2 bg-secondary border-0 fs-5">
              <div class="card-title text-start m-2">
                UserSender
              </div>
              <div class="card-body text-start fs-6">
                Message content first 200 characters
              </div>
            </div>
            <div class="card mt-2 mb-2 bg-secondary border-0 fs-5">
              <div class="card-title text-start m-2">
                UserSender
              </div>
              <div class="card-body text-start fs-6">
                Message content first 200 characters
              </div>
            </div>
            <div class="card mt-2 mb-2 bg-secondary border-0 fs-5">
              <div class="card-title text-start m-2">
                UserSender
              </div>
              <div class="card-body text-start fs-6">
                Message content first 200 characters
              </div>
            </div>
          </div>
          <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Message" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-body-tertiary border-0 h-100">
      <div class="card-title text-center fs-4">Members</div>
      <div class="card-body">
        <div class="d-flex flex-column">
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
          <div class="col">
            <fa-icon [icon]="faUser"></fa-icon> user@email.com
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row p-2">
  <div class="col">
    <div class="card bg-body-tertiary border-0">
      <div class="card-title text-center fs-4">Last Added Documents</div>
      <div class="card-body">
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faFile"></fa-icon> </div>
          <div class="col-5 text-center">Name_of_file_there.pdf</div>
          <div class="col-2 text-center">01.01.1900</div>
          <div class="col-4 d-flex justify-content-center"><button class="btn btn-success me-1">Download</button><button class="btn btn-danger ms-1">Delete</button></div>
        </div>
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faFile"></fa-icon> </div>
          <div class="col-5 text-center">Name_of_file_there.pdf</div>
          <div class="col-2 text-center">01.01.1900</div>
          <div class="col-4 d-flex justify-content-center"><button class="btn btn-success me-1">Download</button><button class="btn btn-danger ms-1">Delete</button></div>
        </div>
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faFile"></fa-icon> </div>
          <div class="col-5 text-center">Name_of_file_there.pdf</div>
          <div class="col-2 text-center">01.01.1900</div>
          <div class="col-4 d-flex justify-content-center"><button class="btn btn-success me-1">Download</button><button class="btn btn-danger ms-1">Delete</button></div>
        </div>
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faFile"></fa-icon> </div>
          <div class="col-5 text-center">Name_of_file_there.pdf</div>
          <div class="col-2 text-center">01.01.1900</div>
          <div class="col-4 d-flex justify-content-center"><button class="btn btn-success me-1">Download</button><button class="btn btn-danger ms-1">Delete</button></div>
        </div>
        <div class="row m-2">
          <div class="col-1 text-center"><fa-icon [icon]="faFile"></fa-icon> </div>
          <div class="col-5 text-center">Name_of_file_there.pdf</div>
          <div class="col-2 text-center">01.01.1900</div>
          <div class="col-4 d-flex justify-content-center"><button class="btn btn-success me-1">Download</button><button class="btn btn-danger ms-1">Delete</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
