<header>
  <nav
    class="navbar secondary bg-dark-subtle  navbar-expand-sm navbar-toggleable-sm">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">CRMService</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
          <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/project-list']">Projects</a></li>
          <li class="nav-item fs-5"><a class="nav-link" [routerLink]="['/document-management']">Documents</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
